@model List<string>

@{
    ViewBag.Title = "Get single fingerprint by hash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Found the following fingerprint(s): </h1>
@foreach (var item in Model)
{
    @Html.DisplayTextFor(modelitem => item)
}