
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>This is the front-end MVC project.</h1>
        <p>todo: Pull some data from the mt_webapi project.</p>
    </div>
</body>
</html>
