@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="~/Styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/shared.css">
    <title>Index</title>
</head>
<body>
<header class="header">
    <h1>Acoustic fingerprinting</h1>
</header>
<div>
    <p>todo: Pull some data from the mt_webapi project.</p>
    <p>todo: Add algorithms to the mt_commonlib project.</p>
</div>
</body>
</html>
