body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.user-loggedin-footer {
    text-align: center;
    background: rgba(0, 255, 0, 0.3);
    width: 100%;
    padding-top: 5px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.user-notl-footer {
    text-align: center;
    background: rgba(255, 0, 0, 0.3);
    width: 100%;
    padding-top: 5px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    margin: 0 auto;
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn {
    margin: 0 auto;
    width: 25%;
}
