@model CentralFingerprintDatabase.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <link rel="stylesheet" type="text/css" href="~/Content/login.css" />

    <div class="login-container-outer">
        <div class="login-container-inner">
            <div class="input-line">
                @Html.TextBoxFor(u => u.UserName, new { @placeholder = "Username" })
            </div>
            <br />
            <div class="input-line">
                @Html.PasswordFor(u => u.Password, new { @placeholder = "Password" })
            </div>

            <div class="input-button">
                <button type="submit" value="Log In">Log in</button>
            </div>
            
        </div>
    </div>
    <div class="error">
        @Html.ValidationSummary(true, "Login failed. Check your login details.")
    </div>

}